# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/01-alulu-himor.jpg
!app/crud/uploads/02-mia-angleaa-rañosa.jpg
!app/crud/uploads/03-shan-losabio.jpg
!app/crud/uploads/04-jade-abiog.jpg
!app/crud/uploads/05-bryan-nava.jpg
!app/crud/uploads/06-cheska-deyn.jpg
!app/crud/uploads/07-macy-dela-paz.jpg
!app/crud/uploads/08-neigel-corporal.jpg
!app/crud/uploads/09-jewel-olivera.jpg
!app/crud/uploads/10-queen-hugo.jpg
!app/crud/uploads/-ramona.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
